* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

#root {
  font-family: "Montserrat", sans-serif !important;
  color: #444 !important;
  min-height: 100vh;
  padding: 4%;
}

.btn {
  border-radius: 0 !important;
}

/* Navbar  */
nav {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  padding: 15px;
}

.link-item {
  text-decoration: none;
  opacity: 0.5;
  font-size: 0.813rem;
  color: #121212;
  letter-spacing: 1.9px;
}

.brand {
  cursor: pointer;
  font-size: 1.875rem;
  font-weight: 700;
  color: #0290ff !important;
}

.list-item:hover {
  color: blue;
  cursor: pointer;
}

.active {
  color: blue;
}

.nav-left-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.nav-right-wrapper {
  cursor: pointer;
}

/* book card  */
.book-card-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10%;
}

.book-card-footer .btn {
  outline: none;
  border: none;
}

.book-title,
.book-author {
  margin-left: 12px;
}

.book-card-inner-wrapper {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: auto;
  align-items: center;
  padding: 10px;
}

.row > * {
  padding: 25px !important;
}

.vertical-rule {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-right: 2px solid silver;
  height: 80%;
}

@media screen and (max-width: 768px) {
  .vertical-rule {
    display: none !important;
  }

  .right-col {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}

/* Form   */

.biginput {
  padding: 12px !important;
}

.col-md-3 .btn {
  width: 100% !important;
}

.page {
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px !important;
}
